/* canvas*/
.div-canvas {
	background-color: #000;
	min-height: 700px;
	position: relative;
}

#canvas1 {
	border: 2px solid white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 450px;
}